asgiref==3.4.1
boto3==1.20.9
botocore==1.23.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cryptography==35.0.0
Django==3.2.9
django-colorfield==0.4.5
django-cors-headers==3.10.0
django-ebhealthcheck==2.0.1
django-environ==0.8.1
django-extensions==3.1.5
django-filter==21.1
django-polymorphic==3.1.0
django-storages==1.12.3
djangorestframework==3.12.4
djangorestframework-camel-case==1.2.0
drf-nested-routers==0.93.4
idna==3.3
jmespath==0.10.0
josepy==1.11.0
mozilla-django-oidc==2.0.0
psycopg2==2.9.2
psycopg2-binary==2.9.2
pycparser==2.21
pyOpenSSL==21.0.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.7
