option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.wsgi:application

packages:
  yum:
    python3-devel: []
    postgresql-devel: []

container_commands:
  01_start:
    command: "echo starting initialization"
  02_makemigrations:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py makemigrations"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate"
    leader_only: true