option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.wsgi:application

packages:
  yum:
    python3-devel: []
    postgresql-devel: []

container_commands:
  00_start:
    command: "echo starting initialization"
  01_list:
    command: "ls"
  02_makemigrations:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py makemigrations"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate"
    leader_only: true
  03_add_user:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py add_users"
    leader_only: true
  04_load_test_data:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && loaddata test-data/*.json"
    leader_only: true