option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: backend.settings
    
packages: 
  yum:
    python3-devel: []
    postgresql-devel: []

container_commands:
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate"
    leader_only: true
    cwd: "backend/"
  02_static:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic"
    cwd: "backend/"