option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/backend.wsgi:application

packages:
  yum:
    git: []
    postgresql-devel: []
    python3-devel: []
	
	
container_commands:
  01_make_migrations:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py makemigrations"
	cwd: "backend/"

  02_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate"
	cwd: "backend/"
