option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/backend.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: backend.settings
    
packages: 
  yum:
    python3-devel: []
    postgresql-devel: []

container_commands:
  00_list:
    command: "ls"
    leader_only: true
  01_migrate:
    command: "ech starting initialization"
    cwd: "backend"
  02_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate"
    leader_only: true
    cwd: "backend"
  03_static:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic"
    cwd: "backend"